body {
  background: #f9f7cf;
}

header {
  background: #f2dcbb;
  padding: 15px, 5px, 15px;
  width: 480px;
}

footer {
  background: #f2dcbb;
  padding: 15px, 5px, 15px;
  width: 480px;
}

main {
  padding: 15px, 5px, 15px;
  width: 480px;
}
